@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content {
  width: 1220px !important;
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.box {
    width:600px;
    height:600px;
    background-color:#d9d9d9;
    top:50%;
    left:50%;
}

.left-column {
  width: 200px;
  height: 600px;
  padding-top: 20px;
  background-color: black;
  display: inline-block;
  float: left;
}

.right-column {
  width: 200px;
  height: 600px;
  padding-top: 20px;
  background-color: black;
  display: inline-block;
  float: right;
}

.column-header {
  font: bold 16px/150% 'IM Fell Great Primer', Arial, sans-serif;
  color: white;
}

.champ-button {
  width:120px;
  height:120px;
  border-width:0px;
    padding:0px;
    line-height:0;
}

.champ-image {
    width:76px;
    margin:2px;
}

.champ-image:hover {
    cursor: pointer;
    width:70px;
    margin:5px;
}

.champ-select-box {
    width:820px;
    height:600px;
    background-color:#d9d9d9;
    display: inline-block;
}