@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content {
  width: 100% !important;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}

.box {
  width: 600px;
  height: 600px;
  background-color: #d9d9d9;
  top: 50%;
  left: 50%;
}

.left-column {
  width: 200px;
  height: 600px;
  padding-top: 20px;
  background-color: white;
  display: inline-block;
  float: left;
}

.right-column {
  width: 200px;
  height: 600px;
  padding-top: 20px;
  background-color: white;
  display: inline-block;
  float: right;
}

.column-header {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom:20px;
}

.champ-button {
  width:120px;
  height:120px;
  border-width:0px;
  padding:0px;
  line-height:0;
}

.goButton {
  margin-top:50px;
  width:320px;
  height:120px;
}

.goButton:first-line {
  font-size:50px;
}

.champ-image {
  width:60px;
  margin:1px;
}

.selected-image {
  width:60px;
  margin-bottom:10px;
}

.champ-image:hover {
  cursor: pointer;
  width:56px;
  margin:3px;
}

.champ-select-box {
  overflow: auto;
  width: 640px;
  height: 384px;
  background-color:#ffffff;
  display: inline-block;
}

thead, tbody, tr, th { display: block; }
